In [1]:
#Q1
for numbers in range(2,22,2):
    print(numbers)

2
4
6
8
10
12
14
16
18
20

In [5]:
#Q2
names=['fiza','eman','ayesha']
for name in names:
    print(name.upper())

FIZA
ISHMAL
AIMAN

In [7]:
#Q3
for number in range(10,1,-1):
    print(number)

10
9
8
7
6
5
4
3
2

In [27]:
#Q4
numbers=[1,2,3,4,5,6,7,8,9]
for number in numbers:
    if no%3==0:
        print(no)

45
45
45
45
45
45
45
45
45

In [21]:
#Q5
for number in range(1,11):
    square=number**2
    print(square)

1
4
9
16
25
36
49
64
81
100

In [23]:
#Q6
celsius=[10,30,40,60,70,90,]
for temp in celsius:
    fahrenheit=(temp9/5)+32
    print(fahrenheit)

50.0
86.0
104.0
140.0
158.0
194.0

In [35]:
#Q7
for table in range(1,11):
    print(f"5*{table}={5*table}")

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [33]:
 #Q8
numbers=[5,10,15,20,45]
sum=0
for number in numbers:
    sum+=number
print(sum)

95

In [31]:
#Q9
word="python"
for character in word:
    print(character)

p
y
t
h
o
n

In [29]:
#Q10
fruits=['banana','mangofruit','kiwi','cherry']
for character in fruits:
    if len(character)>5:
        print(character)

banana
mangofruit
cherry